/* ==========================================
GOOGLE FONT
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ==========================================
LOCAL FONT
========================================== */
@font-face
{
    font-family: "Anek Odia";

    src: url("../assets/fonts/AnekOdia-SemiBold.ttf")
         format("truetype");

    font-weight: bold;
    font-style: normal;
}

/* ==========================================
ROOT VARIABLES
========================================== */

:root{
--primary:#ff6b35;
--secondary:#f4b400;
--accent:#0f4c81;
--green:#2e7d32;
--light:#fff8e7;
--dark:#0d1117;
--glass:rgba(255,255,255,0.08);
--border:rgba(255,255,255,0.15);
}

/* ==========================================
RESET
========================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

html,
body
{
    width: 100%;
    overflow-x: hidden !important;
}

body
{
    font-family:'Poppins',sans-serif;
    background:#0d1117;
    color:white;
    overflow-x:hidden;
    position:relative;
}



/* ==========================================
LOADER BACKGROUND
========================================== */

#page-loader
{
    position: fixed;
    inset: 0;

    background:
    linear-gradient(
        -45deg,
        #050505,
        #0d0d0d,
        #1a1208,
        #111827,
        #0f172a
    );
    animation:
        loaderGradient 12s ease infinite;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .8s ease;
    animation: particleMove 30s linear infinite;
    position: fixed;
}

@keyframes particleMove
{
    from
    {
        transform: translateY(0);
    }

    to
    {
        transform: translateY(-100px);
    }
}

/* Golden Glow */
#page-loader::before
{
    content: "";

    position: fixed;
    inset: 0;
    animation:
        glowMove 10s ease-in-out infinite alternate;
}

/* Floating Particles */
#page-loader::after
{
    content: "";
    position: fixed;
    inset: 0;

    background-image:
        radial-gradient(
            rgba(244,180,0,.25) 1px,
            transparent 1px
        );

    opacity: .15;
}

/* Gradient Animation */
@keyframes loaderGradient
{
    0%
    {
        background-position: 0% 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0% 100%;
    }
}

/* Glow Movement */
@keyframes glowMove
{
    from
    {
        transform: translate(-50px,-30px);
    }

    to
    {
        transform: translate(50px,30px);
    }
}

/* Particle Drift */
@keyframes particleMove
{
    from
    {
        transform: translateY(0);
    }

    to
    {
        transform: translateY(-120px);
    }
}

#page-loader.hide
{
    opacity: 0;
    visibility: hidden;
}

.loader-content
{
    text-align: center;
}

.loader-logo
{
    width: 270px;
    height: auto;
    animation:
    wheelSpin 8s linear infinite,
    wheelGlow 2s ease-in-out infinite;
    filter:
    drop-shadow(0 0 10px rgba(18, 14, 1, 0.937));
}

.loader-title
{
    margin-top: 15px;
    font-weight: bold;
    font-family: "Anek Odia", sans-serif;
    font-size: 5rem;
    color: #fff;
    letter-spacing: 2px;
}

.loader-subtitle
{
    color: rgba(255,255,255,.7);
    margin-top: 10px;
    font-size: 1rem;
}

@keyframes wheelSpin
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

@keyframes wheelGlow
{
    0%,100%
    {
        text-shadow:
        0 0 10px rgba(244, 179, 0, 0);
    }

    50%
    {
        text-shadow:
        0 0 10px rgba(244, 179, 0, 0);
    }
}


/* ==========================================
LOADER RESPONSIVE
========================================== */

@media (max-width: 992px)
{

    *
    {
        margin:0;
        padding:0;
    }

    footer
    {
        margin-top: 23%;
    }
    
    .loader-content
    {
        margin-left: -20%;
        margin-top: -35%;
    }
    
    .loader-logo
    {
        width: 270px;
        height: auto;
    }

    .loader-title
    {
        font-size: 3rem;
        margin-top: 10px;
        letter-spacing: 1px;
    }

    .loader-subtitle
    {
        font-size: .9rem;
        padding: 0 20px;
    }
}

/* ==========================================
CUSTOM SCROLLBAR
========================================== */

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#111827;
}

/* Thumb */
::-webkit-scrollbar-thumb
{
    background: linear-gradient(
        180deg,
        #f4b400,
        #ff8f00,
        #d97706
    );
border-radius:50px;
}


/* ==========================================
ANIMATED BACKGROUND
========================================== */

.floating-bg
{
    position: fixed;
    inset: 0;
    z-index: -1;

    background:
    radial-gradient(circle at top left,
    rgba(244,180,0,.08),
    transparent 30%),

    radial-gradient(circle at bottom right,
    rgba(255,140,0,.06),
    transparent 30%),

    linear-gradient(
        135deg,
        #050505,
        #0d0d0d,
        #121212,
        #1a1208
    );

    overflow: hidden;
}

.floating-bg::before
{
    content: "";

    position: absolute;
    inset: 0;

    background-image:
        radial-gradient(#f4b400 1px, transparent 1px);

    background-size: 70px 70px;

    opacity: .15;

    animation: particleMove 30s linear infinite;
}

@keyframes particleMove
{
    from
    {
        transform: translateY(0);
    }

    to
    {
        transform: translateY(-100px);
    }
}

.floating-bg::after
{
    content: "";
    position: absolute;
    top: 15%;
    right: 8%;
    font-size: 220px;
    color: rgba(244,180,0,.04);
    animation: rotateChakra 60s linear infinite;
}

.bg-art
{
    position: absolute;
    z-index: -1;
    font-family: 'Noto Sans Oriya', sans-serif;
    font-weight: 700;
    color: rgba(186, 172, 68, 0.053);
    pointer-events: none;
    user-select: none;
    font-size: 65px;
    font-weight: lighter;
}

.art-1  { top:22%;   left:8%; }
.art-2  { top:22%;  right:8%; }
.art-4  { top:950px;  right:50px; }
.art-5  { top:1150px; left:80px; }
.art-6  { top:1500px; right:2800px; }
.art-7  { top:1150px; left:1150px; }
.art-8  { top:1100px; right:300px; }
.art-9  { top:1400px; left:50px; }

.art-12 { top:1920px; right:250px; }
.art-14 { top:1800px; right:280px; }
.art-15 { top:1900px; left:50px; }


@keyframes gradientMove
{
    0%
    {
        background-position: 0% 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0% 50%;
    }
}


/* ==========================================
ODIA LETTER BACKGROUND
========================================== */

.odia-bg{
    position:fixed;
    inset:0;
    z-index:-1;
    pointer-events:none;
    overflow:hidden;
}

.odia-bg span{
    position:absolute;
    font-family:'Noto Sans Oriya', sans-serif;
    font-size:2rem;
    font-weight:700;
    color:rgba(255,183,77,0.08);
    user-select:none;
    animation:floatLetter 12s ease-in-out infinite;
}

/* Scatter Letters */

.odia-bg span:nth-child(1){top:5%;left:8%;}
.odia-bg span:nth-child(2){top:12%;left:82%;}
.odia-bg span:nth-child(3){top:22%;left:28%;}
.odia-bg span:nth-child(4){top:30%;left:70%;}
.odia-bg span:nth-child(5){top:42%;left:12%;}

.odia-bg span:nth-child(6){top:55%;left:85%;}
.odia-bg span:nth-child(7){top:65%;left:35%;}
.odia-bg span:nth-child(8){top:72%;left:15%;}
.odia-bg span:nth-child(9){top:82%;left:75%;}
.odia-bg span:nth-child(10){top:90%;left:50%;}

.odia-bg span:nth-child(11){top:15%;left:55%;}
.odia-bg span:nth-child(12){top:38%;left:92%;}
.odia-bg span:nth-child(13){top:58%;left:60%;}
.odia-bg span:nth-child(14){top:78%;left:90%;}
.odia-bg span:nth-child(15){top:95%;left:20%;}

@keyframes floatLetter{

    0%,100%{
        transform:translateY(0px);
        opacity:.05;
    }

    50%{
        transform:translateY(-15px);
        opacity:.12;
    }
}

/* ==========================================
GLOBAL SECTION
========================================== */

section{
padding:100px 0;
}

.section-title h2{
font-size:3rem;
font-weight:700;
margin-bottom:15px;
}

.section-title p{
opacity:.8;
}

/* ==========================================
NAVBAR
========================================== */

.custom-navbar{
backdrop-filter:blur(20px);
background:rgba(0,0,0,.25);
border-bottom:1px solid rgba(255,255,255,.08);
transition:.4s;
height:58px;
}

.navbar-brand{
font-size:1.5rem;
}

.nav-link{
color:white !important;
margin-left:10px;
position:relative;
}

.nav-link::after
{
content:'';
position:absolute;
width:0;
height:2px;
left:0;
bottom:-9px;
background:var(--secondary);
transition:.3s;
margin-top: 20px;
}

.nav-link:hover::after{
width:100%;
}

/* ==========================================
   MOBILE NAVBAR
========================================== */

@media (max-width: 992px) 
{
    .navbar-toggler 
    {
        border: 2px solid rgba(255,255,255,.2);
        border-radius: 15px;
        padding: 6px 10px;
    }

    .navbar-collapse 
    {
        position: absolute;
        top: 70px;
        left: 15px;
        right: 15px;
        z-index: 9999;
        margin-top: 15px;
        padding: 20px;
        border-radius: 20px;
        background: rgba(15, 23, 42, 0.96);
        backdrop-filter: blur(25px);
        border: 1px solid rgba(255,255,255,.08);
        box-shadow: 0 15px 40px rgba(0,0,0,.35);
    }

    .navbar-nav 
    {
        gap: 10px;
    }

    .nav-link 
    {
        padding: 12px 15px !important;
        border-radius: 12px;
        margin-left: 0;
        transition: .3s;
    }

    .nav-link:hover 
    {
        background: rgba(255,255,255,.08);
    }

    .nav-link::after 
    {
        display: none;
    }

    .bg-art
    {
        font-size: 40px;
        opacity: 0.04;
    }

    .art-1  { top:15%; left:5%; }
    .art-2  { top:15%; right:5%; }
    .art-4  { top:1100px; right:40px; }
    .art-5  { top:1450px; left:30px; }
    .art-6  { top:1800px; right:40px; }
    .art-7  { top:200px; left:75%; }
    .art-8  { top:2650px; right:40px; }
    .art-9  { top:3000px; left:30px; }
    .art-10 { top:3450px; right:40px; }
    .art-11 { top:3850px; left:50%; }
    .art-12 { top:4400px; right:10px; }
    .art-12 { top:4400px; right:10px; }
    .art-13 { top:4650px; left:30px; }
    .art-14 { top:5050px; right:40px; }
    .art-15 { top:5450px; left:30px; }
}


/* ==========================================
HERO SECTION
========================================== */

.hero-section{
min-height:100vh;
display:flex;
align-items:center;
}

.hero-tag{
background:rgba(255,255,255,.15);
padding:10px 20px;
border-radius:50px;
display:inline-block;
margin-bottom:20px;
backdrop-filter:blur(20px);
}

.hero-title{
font-size:4.5rem;
font-weight:800;
line-height:1.1;
margin-bottom:20px;
}

.hero-title span{
color:var(--secondary);
}

.hero-description{
font-size:1.1rem;
max-width:550px;
margin-bottom:35px;
opacity:.9;
}

.hero-buttons{
display:flex;
gap:15px;
flex-wrap:wrap;
}

.btn-custom
{
    padding: 14px 34px;
    border-radius: 50px;

    font-weight: 700;
    letter-spacing: .6px;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);

    box-shadow:
        0 10px 30px rgba(0,0,0,.35),
        inset 0 1px 1px rgba(255,255,255,.15);

    transition: all .4s ease;

    position: relative;
    overflow: hidden;
}

/* Shine Effect */
.btn-custom::before
{
    content: '';

    position: absolute;

    top: 0;
    left: -120%;

    width: 60%;
    height: 100%;
    transition: .8s;
}

.btn-custom:hover::before
{
    left: 150%;
}

.btn-custom:hover
{
    color: #fff;

    transform: translateY(-4px);

    background: linear-gradient(
        135deg,
        rgba(255,193,7,.45),
        rgba(255,140,0,.35)
    );

    border-color: rgba(255,215,100,.6);

    box-shadow:
        0 15px 40px rgba(244,180,0,.25),
        0 0 25px rgba(244,180,0,.18);
}

.btn-custom i
{
    margin-right: 10px;
    transition: .3s;
}

.btn-custom:hover i
{
    transform: rotate(-10deg) scale(1.1);
}

.btn-primary{
background:var(--primary);
border:none;
}

.btn-primary:hover{
transform:translateY(-5px);
}

.btn-outline-light:hover{
transform:translateY(-5px);
}

/* ==========================================
MOTTO
========================================== */

/* Motto */

.motto-box
{
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,193,7,0.15);
    border-radius: 18px;
    padding: 35px;
    margin-bottom: 40px;
    backdrop-filter: blur(10px);
}

.motto-title
{
    color: #f4b400;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.motto-title i
{
    margin-right: 10px;
}

.motto-text
{
    font-size: 1.2rem;
    color: #f5f5f5;
    line-height: 1.8;
    font-style: italic;
}

/* Divider */

.custom-divider
{
    border-color: rgba(255,193,7,0.2);
    margin: 50px 0;
}

/* Disclaimer */

.disclaimer-title
{
    text-align: center;
    color: #f4b400;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.disclaimer-title i
{
    margin-right: 10px;
}

.disclaimer-list
{
    list-style: none;
    max-width: 900px;
    margin: auto;
    padding: 0;
}

/* ==========================================
MAP SECTION
========================================== */

.map-image{
width:100%;
filter:drop-shadow(
0 20px 50px rgba(0,0,0,.4)
);
}

.feature-card
{
    margin-bottom:25px;
    background:var(--glass);
    border:1px solid var(--border);
    border-radius:20px;
    padding:25px;
    transition:.4s;
}

.feature-card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.3);
}

.feature-card i
{
    font-size:2rem;
    color:var(--secondary);
    margin-bottom:15px;
}

/* ==========================================
STATS SECTION
========================================== */


.stats-section
{
    background:rgba(255,255,255,.04);
}

.stat-card{

 
background:rgba(255,255,255,.08);

border-radius:20px;

padding:35px 20px;

margin-bottom:20px;

transition:.4s;
 

}

.stat-card:hover{

 
transform:translateY(-8px);
 

}

.stat-card h2{

 
font-size:3rem;

color:var(--secondary);

font-weight:700;
 

}

/* ==========================================
DESTINATION CARDS
========================================== */

.destination-card{

 
overflow:hidden;

border-radius:25px;

background:white;

color:#111;

transition:.4s;
 

}

.destination-card:hover{

 
transform:translateY(-10px);
 

}

.destination-card img
{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:.5s;
}

.destination-card:hover img
{
    transform:scale(1.08);
}

.destination-card h5
{ 
    padding:20px;
    margin:0;
    font-weight:600;
}

/* ==========================================
SWIPER
========================================== */

.swiper{
padding-top:25px;
padding-bottom:50px;
padding-left: 2%;
padding-right: 2%;
}

/* ==========================================
                FOOTER
========================================== */
 footer {

    background:black;
    color: white;
    padding: 4rem 0 1.5rem;
    text-align: center;
}

.footer-logo
{
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    transition: .4s ease;
}

.footer-logo:hover
{
    transform: scale(1.08);
}

footer h5 {

    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

footer p 
{
    color: rgba(255,255,255,.8);
    line-height: 1.8;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {

    margin-bottom: .7rem;
}

footer ul li a {

    color: white;
    text-decoration: none;
    transition: .3s;
}

footer ul li a:hover 
{
    color: #38bdf8;
    padding-left: 5px;
}

.social-links
{
    display:flex;
    gap:15px;
    align-items: center;
    margin-left: 18%;
    text-align: center;
}

.social-links a
{ 
    width: 45px;
    height: 45px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.1);
    color: white;
    transition: all .4s ease;
    
}

/* Facebook */
.social-links a:nth-child(1):hover {

    background: #1877F2;

    color: white;

    box-shadow:
        0 8px 25px rgba(24, 118, 242, 0.973);

    transform:
        translateY(-6px)
        scale(1.1);
}

/* Instagram */
.social-links a:nth-child(2):hover {

    background:
        linear-gradient(
            45deg,
            #f58529,
            #dd2a7b,
            #8134af,
            #515bd4
        );

    color: white;

    box-shadow:
        0 8px 25px rgba(221,42,123,.45);

    transform:
        translateY(-6px)
        scale(1.1);
}

/* YouTube */
.social-links a:nth-child(3):hover {

    background: #FF0000;

    color: white;

    box-shadow:
        0 8px 25px rgba(255,0,0,.45);

    transform:
        translateY(-6px)
        scale(1.1);
}

/* LinkedIn */
.social-links a:nth-child(4):hover {

    background: #03509d;

    color: white;

    box-shadow:
        0 8px 25px rgba(0, 23, 155, 0.749);

    transform:
        translateY(-6px)
        scale(1.1);
}

.social-links a:hover {

    transform:
        translateY(-6px)
        scale(1.1);
    color: white;
    box-shadow:
        0 8px 20px rgba(255,215,0,.35);
}

.social-links i 
{
    font-size: 1.2rem;
}

footer hr 
{
    margin: 2rem 0 1rem;
    border-color:rgba(255, 255, 255, 0.502);
}

footer .text-center {

    color:
        rgba(255,255,255,.75);

    margin-bottom: 0;
}


/* ==========================================
GLASS EFFECT
========================================== */

.glass{

 
background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.1);

border-radius:20px;
 

}

/* ==========================================
RESPONSIVE
========================================== */

@media(max-width:992px)
{

    section
    {
        padding:70px 0;
    }


    .btn-custom
    {
        width:100%;
    }

    .section-title h2
    {
        font-size:1.5rem;
    }

    #slideTourist
    {
        width: 75%;
        margin-top: -30%;
    }

    #slideFood
    {
        width: 75%;
        margin-top: -30%;
    }

    .destination-card
    {
        width:95%;
        align-items: center;
        margin-left: 2.5%;
    }

    .social-links 
    {
        margin-top: 15px;
    }

    .social-links a
    { 
        align-items: center;
        justify-content: center;
    }

}
