<!-- Footer -->

<footer>

    <div class="container">

        <div class="row">

            <div class="col-lg-4">
                <img
                    src="assets/icons/logo.png"
                    class="footer-logo"
                    alt="Ama Asmita Logo">
                <p>
                    Preserving Odisha's rich
                    culinary heritage through
                    community contributions.
                </p>
            </div>

            <div class="col-lg-4">
                <h5>Quick Links</h5>

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="tourist-spots.html">Tourist Spots</a></li>
                    <li><a href="foods.html">Foods</a></li>
                    <li><a href="history.html">Legends</a></li>
                    <li><a href="contribution.html">Contribution</a></li>
                </ul>
            </div>

            <div class="col-lg-4 text-center">

                <h5>Follow Us</h5>

                <div class="social-links">

                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>

                </div>

                <div class="visitor-counter">

                    <div class="counter-icon">
                        <i class="fa-solid fa-eye"></i>
                    </div>

                    <div class="counter-divider"></div>

                    <div class="counter-content">

                        <div class="counter-title">
                            Views For This Page
                        </div>

                        <div class="counter-number">
                            2,000
                        </div>

                        <div class="counter-subtitle">
                            TOTAL VISITORS
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <hr>

        <p class="text-center">
            © 2026 Ama Asmita <br>Developed By Hrudayranjan Parida
        </p>

    </div>

</footer>
